<app-layout>
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <!--this is a place for us to add side-nav code-->
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!--in here all the content must reside. We will add a navigation header as well-->
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>

<!-- Toolbar 
<mat-toolbar color="primary" class="app-header">
  <div><a href="https://www.positronx.io" target="_blank" class="positronx">PositronX.io</a></div>
  <span class="nav-tool-items">
     <a mat-button routerLink="login" routerLinkActive="active">Log in</a> 
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a> 
  </span>
</mat-toolbar>
<div class="container">
  <app-login></app-login>
</div>
-->
<!-- <div class="container">
  <h1>ANGULAR + ASP.NET CORE CRUD</h1>

  <div class="cards-container">
    <div class="cards-form">
      <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="">Card Name</label>
          <input type="text" name="cardName" [(ngModel)]="card.cardHolderName">
        </div>
        <div class="form-group">
          <label for="">Card Number</label>
          <input type="text" name="cardNumber" [(ngModel)]="card.cardNumber">
        </div>
        <div class="form-group form-group-inline">
          <div>
            <label for="">CVC</label>
            <input type="text" name="cvc" [(ngModel)]="card.cvc">
          </div>
          <div>
            <label for="">Expiry Month</label>
            <input type="text" name="expiryMonth" [(ngModel)]="card.expiryMonth">
          </div>
          <div>
            <label for="">Expiry Year</label>
            <input type="text" name="expiryYear" [(ngModel)]="card.expiryYear">
          </div>  
        </div>
        <div class="form-group">
          <button >Save</button>
        </div>
      </form>
    </div>
    <div class="cards-grid">

      <div class="card-row" *ngFor="let card of cards">
        <div class="card-row-details" (click)="populateForm(card)">
          <span>{{card.cardHolderName}}</span>
          <span>{{card.cardNumber}}</span>
        </div>
        <div class="card-row-action">
          <a (click)="deleteCard(card.id)"><i class="fa-solid fa-trash-can"></i></a>
        </div>
      </div>
    </div>
  </div>
</div> -->