<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
      <form #form="ngForm" (ngSubmit)="OnSubmit()">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" name="Username" [(ngModel)]="user.Username">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" name="Password" [(ngModel)]="user.Password">
          </mat-form-field>
        </mat-card-content>
        <button mat-raised-button color="accent" class="btn-block">Log in</button>
        <!-- <button mat-raised-button color="accent" class="btn-block register">Register</button> -->
        <button ></button>
      </form>
    </mat-card>
  </div>